

.title {
    font-size: 60px;
    font-family: 'Times New Roman', serif;
    padding: 30px;
    padding-top: 40px;
}

.profilepic {
    width: 60%;
    height: 70%;
    background: #ce8936;
    border-radius: 50%;
    margin: 50px;
    float: left;
    border: 8px solid #ce8936;
}

.description {
    width: 90%;
    padding: 60px;
    font-size: 25px;
    padding-top: 60px;
    padding-left: 10px;
}