.main-footer {
    color: #DBCCC6;
    background-color: #491F40;
    padding: 1em;
    position: relative;
    bottom: 0;
    width: 100%;
}
.row {
    text-align: center;
}

.reach-me {
    padding-bottom: 10px;
}
