.main-navbar {
    background-color: #491F40;
    color: #DBCCC6;
    padding: 20px;
}

.name {
    color: #DBCCC6;
    padding: 10px;
    font-family: 'Times New Roman', serif;
    font-size: 40px;
    padding-left: 15px;
}

.col {
    list-style-type: none;
    padding-top: 10px;
}

.link { 
    color: #DBCCC6;
    font-size: 20px;
    font-family: 'Times New Roman', serif;
}

.link:focus {
    color: #ce8936; }