.gifs {
    width: 350px;
    height: 300px;
    padding: 10px;
    border-radius: 50%;
}

.titles {
    padding-top: 15px;
    padding-bottom: -5px;
    font-size: 30px;
    color: black;
}

a:link { text-decoration: none; }

a {
    color: black;
    text-decoration: none;
} 